@media (max-width: 1024px) {
    header {
        width: 750px;
    }
    .logo p {
        margin-left: 5px;
    }
    .banner {
        width: 750px;
    }
    .left-side-banner h1 {
        font-size: 2.2rem;
    }
    nav ul li {
        margin-left: 5px;
        padding: 10px 3px;
    }
    .right-side-banner img {
        width: 300px;
    }
    .social-media-links ul li{
        margin-right: 28px;
    }
    .about-wrapper {
        width: 750px;
    }
    .skills, .hobbies {
        width: 750px;     
    }
    .box {
        min-width: 140px;
        height: 150px;
    }
    .box h4 {
        margin-left: 6px
    }
    .academic-education-wrapper {
        width: 750px;
    }
    .academic-education h2 {
        margin-top: 70px;
    }
    .school-box {
        width: 220px;
        height: 250px;    
    }
    .schools {
        width: 220px;
        height: 340px;
    }

    .contact-wrapper {
        width: 750px;
    }
}



@media (max-width: 768px) {
    header {
        width: 620px;
        padding: 0 10px;
    }
    .all-menu {
        display: none;
    }
    .banner {
        width: 620px;
        padding: 0 10px;
    }
    .left-side-banner h1 {
        font-size: 1.5rem;
    }
    .left-side-banner p {
        font-size: 1rem;
        margin: 10px auto;
    }
    nav ul li {
        margin-left: 5px;
        padding: 10px 3px;
    }
    .right-side-banner img {
        width: 150px;
    }
    .about {
        background-color: rgb(255, 255, 255);
    }
    .about-wrapper {
        width: 620px;
        height: 260px;
        padding: 0 10px;
    }
    .about-wrapper p {
        width: 580px;
        height: 170px;
    }
    .skills-hobbies {
        height: 1050px;
    }
    .skills-hobbies-boxes {
        flex-wrap: wrap;
    }
    .skills {
        margin-top: 40px;
    }
    .hobbies {
        margin-bottom: 250px;
    }
    .skills, .hobbies {
        width: 620px;   
        height: auto;
        margin-top: 10px;
        padding: 0 10px;
    }
    .skills h2, .hobbies h2 {
        margin-top: 20px;
    }
    .box {
        margin: 20px auto;
        min-width: 175px;
        height: 175px;
        justify-content: center;
        align-items: flex-start;
        background-color: #FFF;
    }
    .box h4 {
        margin-left: 10px
    }
    .box img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        margin-left: 10px
    }

    .academic-education{
        width: 620px;
        height: auto;
    }
    .academic-education-wrapper {
        width: 620px;
        flex-direction: column;
    }
    .academic-education h2 {
        margin: 50px auto;
        font-size: 1.8rem;
    }
    .school-box {
        width: 320px;
        height: 150px;    
    }
    .schools {
        width: 320px;
        height: 250px;
    }
    .school-box img {
        width: 200px;
    }
    .experience-wrapper {
        width: 620px;
        height: auto;
    }    
    .contact-wrapper {
        width: 620px;
        padding: 0 10px;
    }
    
    .btn {
        margin-top: 5px;
    }
    .phone-image {
        display: none;
    }
    form {
        width: 580px;
    }
}


@media (max-width: 650px) {
    header {
        width: 350px;
    }
    nav .email li a{
        font-weight: 500;
        font-size: .8rem;
    }
    .banner {
        width: 350px;
        height: 300px;
        padding: 0 10px;
        position: relative;
        margin: 20px auto;
    }
    .left-side-banner {
        position: absolute;
        margin-right: 0px;
        height: 180px;
        width: 350px;
        bottom: 0;
    }
    .right-side-banner {
        position: absolute;
        top: 0;
        left: 0;
    }
    .right-side-banner img {
        width: 98px;
    }
    .social-media-links ul li{
        margin-top: 10px;
        margin-right: 12px;
    }
    .social-media-links ul li a {
        font-size: .9rem;
        font-weight: 500;
    }
    .about {
        height: 500px;
    }
    .about-wrapper {
        width: 350px;
        height: 400px;
    }
    .about-wrapper p {
        width: 330px;
        height: 300px;
    }

    .skills, .hobbies {
        width: 350px;   
        height: auto;
        margin: 20px auto;
        padding: 0 10px; 
    }
    .skills h2, .hobbies h2 {
        margin-top: 20px;
    }
    .box {
        margin: 10px auto;
        min-width: 150px;
        height: 120px;
    }
    .box h4 {
        margin-left: 10px;
        font-size: .9rem;
    }
    .box img {
        margin-bottom: 10px;
        margin-left: 10px
    }
    
    form {
        width: 350px;
    }   
} 
